# package directories
**/node_modules
**/jspm_packages

# Sensitive or local/temporary resources
**/.*/
**/.env**

# Distribution folders
**/dist

# Draft projects folders
**/--*

# Exceptions from ignoring
!.md
!.gitkeep
!**/.vscode/