# Package directories
**/node_modules
**/jspm_packages

# Distribution directories
**/dist

# Temp(hidden) directories
**/.*

# Sensitive resources
**/.aws

# Draft projects folders
**/__* 
**/testes-serverless


