# Further changes in some files(E.g: .env) might be ignored using "git update-index --skip-worktree <file>"
# To revert this behavior use "git update-index --no-skip-worktree <file>"

# package directories
**/node_modules
**/jspm_packages

# Sensitive or local resources
**/.*/

# Distribution folders
**/dist

# Draft projects folders
**/--*
**/testes-serverless

# Exceptions from ignoring
!.md
!.gitkeep
!**/.vscode/